.header {
    height: 60px;
    background-color: #6c757d;
    display: flex;
  }
  
  .headerImg {
    margin-left: 20px;
  }
  
  .headText {
    color: white;
    font-size: x-large;
    margin-left: 20px;
    margin-top: 8px;
  }