.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.formDiv {
  text-align: center;
}

form {
  display: block;
}

.inputLabel {
  text-align: left;
}

label {
  display: block !important;
  text-align: left !important;
}

.inputgrp {
  display: flex;
  justify-content: space-around;
}

.btn-custom {
  height: 45px;
  width: 80px;
  margin-top: 26px;
}

.listCls {
  margin-top: 50px;
}

.disableBtn {
  cursor: not-allowed;
  opacity: 0.4 !important;
}

.input-error {
  border: 1px solid red !important;
}
